<!-- Displaying Customer details using animation -->
<div class="well well-lg" [@animationDetail]="animationDetail"
(@animationDetail.start)="animationStarted($event)" (@animationDetail.done)="animationDone($event)">
  <!-- using search custom pipe while listing the customer details -->
  <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <!-- Customer name -->
          {{ customer?.name | chgChar }}
        </h3>
      </div>
      <div class="panel-body">
          <!-- Contact -->
          {{ customer?.phone }}
      </div>
      <!-- email -->
      <div class="panel-body">
        {{ customer?.email }}
      </div> 
      <div class="panel-body">
        <!-- details -->
        {{ customer?.city?.city }}
      </div>
      <div class="panel-body">
        <!-- customer D.O.B using Pipes to display the date in m/d/yyyy format -->
        {{ customer?.DOB | date: "M/d/yyyy"}}
      </div>
  </div>
  <p>
    <button class="btn btn-primary" (click)="onEdit()">Edit</button>
    <button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
  </p>
</div>